body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    
  }
  
  .container {
    width: 90%;
    height: auto;
    max-width: 1000px;
    margin-top: 10px ;
    padding: 20px;
  }
  
  .navbar {
    background: #333;
    color: #fff;
    padding: 10px;
  }
  
  .navbar .logo {
    float: left;
    margin: 0;
    padding: 0 20px;
  }
  
  .navbar .nav-links {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar .nav-links li {
    display: inline;
    margin-right: 20px;
  }
  
  .navbar .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .section {
    padding: 50px 0;
    background: #f4f4f4;
  }
  
  .alt-section {
    background: #eaeaea;
    text-align: center;
  }
  
  #creditText {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  #creditText.visible {
    opacity: 1;
  }
  .angka-box {
    font-size: 60px;
    font-weight: bold;
    background-color: #dde6ed;
    border-radius: 10px;
    padding: 30px;
    width: 120px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  .btn-primary {
    background-color: #394867;
    border: none;
  }
  .btn-primary:hover {
    background-color: #212a3e;
  }
  .result {
    font-size: 24px;
    margin-top: 20px;
  }
  .turn-label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .game{
    background-color: #f1f6f9;
    color: #14274e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
    }
   
  .angka-box {
    font-size: 60px;
    font-weight: bold;
    background-color: #dde6ed;
    border-radius: 10px;
    padding: 30px;
     width: 120px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
   }
   .btn-primary {
      background-color: #394867;
      border: none;
    }
   .btn-primary:hover {
      background-color: #212a3e;
    }
   .result {
      font-size: 24px;
      margin-top: 20px;
    }
   .turn-label {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .footer{
        text-align: center;
    }
  